ul{
  list-style-type: none;
}
.categories{
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}
.categories::-webkit-scrollbar{
  display: none;
}
.categories button{
  min-width: fit-content;
  border-radius: 100px;
  border: none;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px 15px;
}

footer{
  background-color: #000;
}
footer *{
  color: #fff !important;
  background-color: #000 !important;
}
footer a{
  color: #fff !important;
}
